.tooltip {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tooltip::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.tooltip.show {
  opacity: 1;
  visibility: visible;
}

.tooltip.hide {
  opacity: 0;
  visibility: hidden;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}
.error-msg {
  font-size: 12px;
}
.form-container {
  display: block;
  max-width: 400px;
  margin: auto;
  background: #eceff1;
  padding: 50px;
  border-radius: 10px;

  overflow-y: auto;
}
.form-control {
  width: 35vw;
}
.password-input {
  width: 27vw !important;
}
