<div
  class="form-container shadow p-3 mb-5 rounded"
  *ngIf="user$ | async as user"
>
  <h2 class="text-center text-white text-outline upheavel">Profile</h2>
  <div class="img-container text-center pt-5">
    <img
      width="200"
      height="200"
      [src]="user.photoURL ?? 'assets/images/blank-profile.jpg'"
      class="mx-auto d-block img-outline"
    /><button mat-mini-fab (click)="inputField.click()" class="btn-container">
      <label class="material-icons" style="color: #444444; margin-top: 3px"
        >add_a_photo</label
      >
    </button>
  </div>
  <input #inputField type="file" hidden (change)="uploadImg($event, user)" />
</div>
