mat-toolbar {
  justify-content: space-between;
}
.banner {
  font-family: upheavel;
  font-size: 40px;
}
.link-text {
  text-decoration: none;
}
.link-text:hover {
  color: #169976 !important;
}
.btn-login {
  border: none;
  &:hover {
    color: #169976 !important;
  }
  font-family: upheavel;
}
mat-icon {
  vertical-align: middle;
}
.container {
  padding: 32px;
}
