<mat-toolbar class="bg-dark text-color">
  <a routerLink="/" class="text-color link-text banner">Welcome!</a>

  <ng-container
    *ngIf="authService.currentUser$ | async as user; else loginButton"
  >
    <button
      mat-button
      [matMenuTriggerFor]="userMenu"
      class="bg-dark text-color btn-login"
    >
      <mat-icon>account_circle</mat-icon>
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button class="bg-dark text-color btn-login" routerLink="/login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu" class="bg-dark">
  <button mat-menu-item routerLink="/user" class="text-color">
    <span style="font-family: vcr">Profile</span>
  </button>
  <button mat-menu-item (click)="logout()" class="text-color">
    <span style="font-family: vcr">Logout</span>
  </button>
</mat-menu>
