<mat-toolbar class="bg-primary text-white">
  <a routerLink="/" class="text-white link-text">Welcome!</a>

  <ng-container
    *ngIf="authService.currentUser$ | async as user; else loginButton"
  >
    <button
      mat-button
      class="bg-primary text-white btn-login"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button
      mat-button
      class="bg-primary text-white btn-login"
      routerLink="/login"
    >
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
