// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "bootstrap/scss/bootstrap";
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
} /* Importing Bootstrap SCSS file. */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}
.margin-top {
  margin-top: 20px;
}
.text-center {
  text-align: center;
}
