@use "bootstrap-icons/font/bootstrap-icons";
@use "bootstrap/scss/bootstrap";
@use "@angular/material" as mat;
@font-face {
  font-family: upheavel;
  src: url(assets/fonts/upheavtt.ttf) format("trueType");
}
@font-face {
  font-family: Pyxxl;
  src: url(assets/fonts/Pyxxl.ttf) format("trueType");
}
@font-face {
  font-family: vcr;
  src: url(assets/fonts/vcr.ttf) format("trueType");
}

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
  background-color: #444444;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}
.margin-top {
  margin-top: 20px;
}
.text-center {
  text-align: center;
}

.text-color {
  color: #1dcd9f !important;
}
.text-outline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.upheavel {
  font-family: upheavel;
  font-size: 50px;
}
.vcr {
  font-family: vcr;
}
